/* This styles the whole page */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

/* Main title */
h1 {
  color: pink;
  text-shadow: 2px 2px 4px rgba(164, 11, 111, 0.5);
}

/* Form section styling */
form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Label styling */
label {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

/* Input boxes, dropdown, and button */
input,
select,
button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Input and dropdown styling */
input,
select {
  border: 2px solid pink;
  border-radius: 8px;
  background-color: white;
}

/* Main button styling */
button {
  background-color: pink;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

/* Main button hover effect */
button:hover {
  color: black;
  background-color: palevioletred;
}

/* Section headings */
h2 {
  color: black;
  margin-top: 20px;
}

/* Total amount styling */
#totalAmount {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

/* Expense list layout */
li {
  background-color: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  list-style: none;
  border: 1px solid #ffb3c6;
  box-shadow: 0 2px 5px rgba(214, 51, 132, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Delete button styling */
.delete-btn {
  background: transparent;
  border: none; 
  box-shadow: none; 
  outline: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: auto;
  padding: 0;
  margin: 0;
}

/* Removes hover background */
.delete-btn:hover {
  background: transparent;
}

/* Shows delete icon when hovering over list item */
li:hover .delete-btn {
  opacity: 1;
}

/* Delete image size */
.delete-btn img {
  width: 20px;
  height: 20px;
  display: block;
}

/* Slight hover effect for image only */
.delete-btn:hover img {
  transform: scale(1.1);
}

#expenseChart {
  display: block;
  width: 100% !important;
  max-width: 800px;
  max-height: 500px;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}